body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background: linear-gradient(180deg, gray, pink);
  color: black;
}

.form_style {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 4px solid black;
  border-radius: 15px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 450px;
}

.input_style {
  width: 100%;
  padding-right: 50px;
  height: 40px;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid black;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  color: rgb(202, 54, 79);
}
.button_style {
  width: 220px;
  height: 40px;
  padding: 5px;
  border-radius: 15px;
  border: 3px solid black;
  background: black;
  color: white;
  font-weight: bold;
}
